@using System.Threading.Tasks
@using LykkeMarketMakers.Web.Models.ViewComponentsViewModels
@using LykkeMarketMakers.Web.Translates
@model SaveCancelButtonsPairModel

@if (Model.IsMobile)
{
    <div style="text-align: right; margin-top: 20px;">
        <button class="btn btn-flat btn-primary" onclick="Requests.doRequest({ url: '@Model.Url', formId: '@Model.FormId', showLoading: true });">
            <span class="glyphicon glyphicon-floppy-disk hideOnRequest" aria-hidden="true"></span>
            <img class="showOnRequest" src="~/Images/processing.gif" style="display: none" /> @Model.SaveText
        </button>
        <button class="btn btn-flat btn-primary" onclick="ui.hideDialog()">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> @Phrases.Cancel
        </button>
    </div>
}
else
{
    <div style="text-align: center;">
        <div class="btn-group" style="margin-top: 10px;">
            <button class="btn btn-success" style="width: 150px" onclick="Requests.doRequest({ url: '@Model.Url', formId: '@Model.FormId', showLoading: true });">
                <span class="glyphicon glyphicon-floppy-disk hideOnRequest" aria-hidden="true"></span>
                <img class="showOnRequest" src="~/Images/processing.gif" style="display: none" /> @Model.SaveText
            </button>
            <button class="btn btn-default" style="width: 150px" onclick="ui.hideDialog()">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> @Phrases.Cancel
            </button>
        </div>
    </div>
}
